<div class="about">




  <div class="list">
    <div class="row">
      <button ng-click="goToEuroClub()" class="button col button-raised button-assertive   ink-dark">
        {{$root.translateWord('Roadside Assist Services')}}
      </button>
    </div>
    <div class="row" style="margin-top: 20px">
      <button ng-click="goToEuroClubMedical()" class="button col button-raised button-assertive   ink-dark">
        {{$root.translateWord('Medical Services')}}
      </button>
    </div>
  </div>


</div>