<ion-view class="has-background-image" view-title="{{$root.translateWord('Help')}}">

  <ion-content>
    <div class="row  text-lang  ">

      <h1 class="col" style="margin-bottom: 10px;margin-top:10px" ng-bind="$root.translateWord('EuroHelp')">

      </h1>

    </div>
    <div class="row text-lang">
      <div class="col">
        <p ng-bind="$root.translateWord('EuroHelp1')">

        </p>
        <p ng-bind="$root.translateWord('EuroHelp2')">

        </p>
        <p ng-bind="$root.translateWord('EuroHelp3')">

        </p>
        <!--<p ng-bind="$root.translateWord('EuroHelp4')">-->

        <!--</p>-->
        <p ng-bind="$root.translateWord('EuroHelp5')">

        </p>


       </div>
    </div>
  </ion-content>


</ion-view>
