<ion-view cache-view="false" class="has-background-image  background-image" view-title="{{$root.translateWord('Club Euro2')}}">

  <div class="list col " style="position: fixed;top:40%">
    <div class="row">
      <button ng-click="goAsMemberMedical()" class="button col button-raised button-assertive  ">
        {{$root.translateWord("I have Insurance Policy")}}
      </button>
    </div>
    <div class="row" style="margin-top: 15px">
      <button ng-click="goAsVisitorMedical()" style="
 " class="button col  button-raised button-assertive  ">
        {{$root.translateWord('Non-Insured and I want service')}}
      </button>
    </div>

    <div class="row" style="margin-top: 15px">
      <button ng-click="gotoContract()" style="
 " class="button col button-raised button-raised button-assertive  ">
        {{$root.translateWord('How to contract with the company')}}
      </button>
    </div>
  </div>



</ion-view>