<ion-view cache-view="false" view-title="Location , Map">
	<div   map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBDck1kcOflzZdQER46oGBevaXD3ehqLkU&language=ar">
	  <div class="map">
	  <ng-map  ng-if="!ErrorLocation.map" data-tap-disabled="true" default-style="false" on-dblclick='clickMap(event)' center="[26.8206, 30.8025]"
			   zoom="6"  class="scroll-content  ionic-scroll  has-header">
		<div class="bar bar-header" style="width: 98%;margin: 0 auto;">
		  <input places-auto-complete style="width: 100%;padding: 20px;text-align: center;"
				 ng-model="address"
				 placeholder="$root.translateWord('Location Name')"
				 ng-focus="addressFocus($event)"
				 on-place-changed="placeChanged(event)" />
		</div>
		<marker on-click="markerClick(event)" ></marker>
	  </ng-map>
	</div>
	</div>
	  <div ng-if="ErrorLocation.map"  class="manual">
		<ion-content >
		<div ng-include="'templates/ManualLocation.html'"></div>
		</ion-content>

	  </div>
	  <!--<ion-floating-menu ng-hide="ErrorLocation.map" bottom="10px" menu-icon="ion-model-s"  menu-color="#387ef5" menu-open-color="#387ef5">-->
		<!--<ion-floating-item button-color="#387ef5" text='SIM SMS'icon="ion-android-textsms" click="sendSimSms()"></ion-floating-item>-->
		<!--<ion-floating-item button-color="#387ef5" text="Internet SMS" icon="ion-chatbubble" click="sendSMSInternet()"></ion-floating-item>-->
	  <!--</ion-floating-menu>-->
	  <ion-fab ng-hide="ErrorLocation.map" ng-click="sendSimSms()"   style="right:50px" >
		<i class="icon ion ion-android-textsms"></i>
	  </ion-fab>
	  <ion-fab ng-hide="ErrorLocation.map" ng-click="getCurrentLocation()" class="fab-bottom-up1 " style="right:50px" >
		<i class="icon ion ion-location"></i>
	  </ion-fab>

 </ion-view>
