<ion-popover-view style="width: 200px;height: 110px;    margin-top: 42px;;
    background: #f3f0f0;
">
  <ion-content style="background: rgba(247, 245, 245, 0.58)">
    <div class="list ">
      <a class="item item-bar" ng-click="$root.popover.hide($event)" href="#/app/userform/NONE" ng-bind="$root.translateWord('User Profile')">

      </a>
      <a class="item item-bar" ng-click="$root.popover.hide($event)" href="#/app/about" ng-bind="$root.translateWord('About Rescue Service')">

      </a>
      <a class="item item-bar" ng-click="$root.popover.hide($event)" href="#/app/aboutmedical" ng-bind="$root.translateWord('About Medical Service')">


      </a>
      <a class="item item-bar" ng-click="$root.popover.hide($event)" href="#/app/help" ng-bind="$root.translateWord('Help')">

      </a>
    </div>
  </ion-content>
</ion-popover-view>