<ion-view cache-view="false" class="has-background-image" view-title="{{' '+$root.translateWord('Euro Assist Title')}}">
  <ion-content>
    <div class="im-wrapper ">
      <h4 class=" ">
        <span class="header-text" ng-bind="$root.translateWord('Welcome To')"></span>
        <span class="header-text red-text" ng-bind="$root.translateWord('Club Euro')"></span>
        <span class="header-text" ng-bind="$root.translateWord('for International Medical Assistance.')"></span>
      </h4>

      <h5 class="sub-header-text " ng-bind="$root.translateWord('MedicalWelcome2')"></span>
        <br/>
    </div>



  </ion-content>
  <div class=" row  global-text " style="padding: 5px">
    <div class="list col" style="position: fixed;bottom: 0px">

      <div class="row">
        <button ng-click="goIsMemberMedical()" class="button col button-raised button-assertive   ink-dark">{{$root.translateWord('Next')}}</button>

      </div>

      <div class="row" style="margin-top: 10px">
        <button ng-click="goServicesMedical()" class="button col button-raised button-assertive   ink-dark">
          {{$root.translateWord('More About Euro Assist Medical Services')}}</button>

      </div>
    </div>
  </div>

</ion-view>